[Unit]
Description=sound-machine service
After=network.target

StartLimitBurst=10
StartLimitIntervalSec=86400

[Service]
Type=forking
User=pi
ExecStart=/usr/local/bin/sound-machine-start.sh
#ExecStop=
Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target
