[Unit]
Description=Sound Machine
After=network.target

StartLimitBurst=10
StartLimitIntervalSec=24h

[Service]
Type=simple
User=pi
ExecStart=/usr/local/bin/sound-machine-start.sh
#ExecStop=
Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target
