[Unit]
Description=rpi-sound-machine service
After=network.target

# This limits the service to 10 restarts within a 24-hour period.
StartLimitBurst=10
StartLimitIntervalSec=86400

[Service]
Type=forking
User=pi
ExecStart=/usr/local/bin/rpi-sound-machine-start.sh
ExecStop=/usr/bin/tmux kill-session -t sound
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
